{% include "Core/Layout/Templates/CookieBar.html.twig" %}

<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">{{ siteTitle }}</a>
			<button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbarSupportedContent">
			{# Navigation #}
			<nav id="headerNavigation">
				<h4>{{ 'lbl.Subnavigation'|trans|ucfirst }}</h4>
				<ul class="nav navbar-nav">
					{{ getsubnavigation('page', 1, 2) }}
			</nav>

			{# Language #}
			<nav id="headerLanguage">
				<h4>{{ 'lbl.Language'|trans|ucfirst }}</h4>
				{% include "Core/Layout/Templates/Languages.html.twig" %}
			</nav>

			{# Search positions #}
			{% for search in positions.search %}
			<ul class="nav navbar-nav navbar-right">
				{{ search.html|raw }}
			</ul>
			{% endfor %}
		</div>
	</div>
</nav>

{# Breadcrumb #}
<div id="breadcrumb">
	<div class="container">
		<h4>{{ 'lbl.Breadcrumb'|trans|ucfirst }}</h4>
		{% include "Core/Layout/Templates/Breadcrumb.html.twig" %}
	</div>
</div>
